/output/*.png
/output/*.html
/.classpath
/.project
/.settings/org.eclipse.jdt.core.prefs
/output/*.csv
/output/*.css
/output/*.xml
/target
/output/jqplot
/*.bat
/output/struct
/output/input
/data-quality/output
/data-quality-web/target
/data-quality-desktop/target
/data-quality/target
/data-quality-desktop/appClientModule
/data-quality-desktop/.classpath
/data-quality-desktop/.project
/data-quality-desktop/.settings
/data-quality-desktop/*.bat
/data-quality-web/.project
/data-quality-web/.classpath
/data-quality-web/*.bat
/data-quality/.project
/data-quality/.classpath
/data-quality/*.bat
/data-quality-web/.settings
/data-quality/.settings
